* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}

body {
    background-color: #f8c02e;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2em;
    font-family: 
                'Trebuchet MS',
                 'Lucida Sans Unicode',    
                 'Lucida Grande', 
                 'Lucida Sans', 
                 Arial, sans-serif;

}

img {
    width: 50%;
    height: auto;
}

.mainNavbar{
    display: inline;
    background-color: beige;
    padding: 50px, 50px, 100, 50px;
}

nav ul {
    display: inline;
    text-align: center;
}

ul li {
    display: inline;
    list-style-type: none;
}

.divLi {
    display: inline-flex;
    background-color: beige;
}

a {
    text-decoration: none;
    color: black;
}


/*  WELCOME BANNER STYLE  */

.welcomeBanner {

}

.bannerContent {

}

.textAndImg {
  display: flex;
  align-items: center;

}

.textAndImg img {
    height: 2.2rem;
    margin-left: 1rem;
    padding-right: 0px;
}

