* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}

body {
    background-color: #f8c02e;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2em;
    font-family: 
                'Trebuchet MS',
                 'Lucida Sans Unicode',    
                 'Lucida Grande', 
                 'Lucida Sans', 
                 Arial, sans-serif;

}

img {
    width: 60%;
    height: auto;
}

#mainLogo img{
    width: 80%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.mainNavbar{
    display: inline;
    background-color: beige;
}

nav ul {
    display: inline;
    text-align: center;
}

ul li {
    display: inline;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

        /* welcome banner */


#welcomeBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: 50px;
    position: relative;
    background-color: whitesmoke;
}

.bannerTextImg{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#bannerTextImg, h3{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1em;
}

#bannerTextBanner, #imgBanner {
    width: 40px;
}

